
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin sans, sans-serif;
    background: var(--Linear);
    background-repeat: repeat;

    
    
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
  }
  :root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Linear: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --Linear2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  }
    main {
      display: flex;
      width: 1440px;
      /*border: 1px solid lightgray;*/
    
    
    }
    .content {
      flex: 1;
      height: 100%;
      min-width: 540px;
      padding-left: 166px;
    }
    .picture {
      height: 100%;
      line-height: 0;
      min-width: 360px;
    
    }
    .desktop-picture {
      height: 800px;
      width: 100%;
      object-fit: cover;
    }
    .logo-img {
      width: 158px;
      margin-top: 65px;
    }
    .img-mobile {
      display: none;
    }
    h1 {
      font-size: 63px;
      width: 440px;
      letter-spacing: 17.6px;
      line-height: 68.72px;
      margin: 0;
      margin-top: 130px;
    }
    p {
      max-width: 440px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.75rem;
      letter-spacing: 0.028rem;
      color: var(--Desaturated-Red);
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: 1px;
    }
    ::placeholder {
      color: var(--Desaturated-Red);
      line-height: 0;
    }
    span {
      font-weight: 300;
      color: var(--Desaturated-Red);
    }
    .form {
      position: relative;
    }
    .form-input {
      width: 230px;
      border-radius: 58px;
      border: 0.5px solid hsl(0, 36%, 70%);
      font-family: Josefin sans, sans-serif;
      font-size: 16.7px;
      font-weight: 300;
      padding: 18px 178px 18px 32px;
      outline-color: var(--Soft-Red);
      background-color: transparent;
      opacity: 0.8;
    }

    .form-btn {
      position: absolute;
      width: 100px;
      height: 56px;
      border-radius: 27px;
      border: none;
      background: var(--Linear2);
      left: 345px;
      bottom: -1px;
      cursor: pointer;
      box-shadow: 0px 10px 20px 5px rgba(169, 83, 83, 0.22);
    }
    .form-btn:hover {
      background: hsl(0, 80%, 86%);;
    }
    .error-icon {
      position: absolute;
      display: block;
      bottom: 14px;
      left: 304px;
    }
    .submit-message {
      display: block;
      font-size: 0.81rem;
      color: var(--Soft-Red);
      font-weight: 400;
      margin-left: 32px;
      margin-top: 11px;
    }

    @media only screen and (max-width: 920px){

      .picture {
        display: none;
      }
    .mobile-picture {
      width: 100%;
      height: 250px;
      min-width: 375px;
  
      }
    .img-mobile {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

    .content {
      padding-left: 0;
      width: 100%;
      min-width: 375px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .logo {
      width: 100%;
      min-height: 85px;
      margin: 0;
      padding: 0;
    }
    .logo-img {
      width: 100px;
      margin: 0;
      margin-top: 30px;
      margin-left: 30px;

    }
    h1 {
      font-size: 40px;
      width: 300px;
      margin: 65px 0px 0px 0px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 12px;
    }
    p {
      width: 300px;
      max-width: 330px;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      margin: 20px 0px 0px 0px;
      line-height: 22px;
    }
    .form {
      display: block;
    }
    .wrapper {
      align-items: stretch;
      background-image: none;
    }
    .form-input {
      width: 150px;
      height: 46px;
      font-size: 14px;
      padding: 0px 120px 0px 32px;
    }
    .error-icon {
      bottom: 14px;
      left: 200px;
    }
    .form-btn {
      width: 65px;
      height: 48px;
      left: 240px;
      bottom: 0px;
    }
    .submit-message {
      font-size: 12.96px;
      font-weight: 400;
      margin-left: -120px;
      margin-top: 11px;
      padding-bottom: 50px;
    }
    .form {
      margin-top: 30px;
    }
  }
  
